.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  color: black;
  margin-top: 0;
  background-color: rgb(255, 249, 249);
  margin: 0.5%;
}
.logo img {
  height: 50px;
  width: 37px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 2vw;
  margin: 0;
}

.nav-list.open {
  display: block;
}

.nav-list li {
  display: inline;
  text-decoration: none;
}

.nav-list li a {
  color: black;
  text-decoration: none;
}
.nav-list li a:hover {
  color: rgb(2, 214, 2);
}

.flag-icon img {
  height: 4vh;
  width: 2vw;
}
