.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-image {
  flex: 1.5; /* Takes up 50% of the width */
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.user-avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #e5e7eb; /* Light gray background */
}

.profile-details {
  flex: 1.5;
  background-color: #d5f6d2; 
  padding: 3rem;
  border-radius: 10px;
  margin-right: 10%;
  width: 150px;
  height: 200px;
  margin-right: 20%;
}

.details p {
  font-size: 1.125rem;
  margin: 0.5rem 0;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.Button {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}